*.vscode
*results/*
*results/assets/mobilev2_features
!results/assets
*results_plots
*feature_selectors
*mobilev2_features
*saliency_features
*stored
*checkpoints
*.ipynb_checkpoints
*src/main_classes/__pycache__/
*src/.ipynb_checkpoints
*src/ScanMatch_MATLAB/
*src/sanity_checks/__pycache__
*src/sanity_checks/.ipynb_checkpoints
*src/sanity_checks/saliency
*src/utils/__pycache__
*src/utils/.ipynb_checkpoints
*src/main_classes/__pycache__
*diagrams/
*demo/
*extras
*data
*papers

